  @import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;700;900&display=swap');

  *{
    font-family: 'Ysabeau', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: #445161;

  }
  header{
    width: 100%;
    height: 100vh;
    background-image: url('image/wallpaperflare.com_wallpaper\(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #445161;
    z-index: -1;
    
  }
  .interested-feild{
    color: rgb(58, 65, 71);
    font-weight: 700;
  }
  .container {
    padding: 10px 10%;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }
  .logo {
    color: #445161;
    font-size: 50px;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

  }
  nav ul li a {
    color: #445161;
    font-size: 20px;
    text-decoration: none;
    position: relative;

  }
  nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #445161;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;

  }
  nav ul li a:hover::after{
    width: 100%;

  }
 .interested-feild {
  margin-top: 150px;
  font-size: 35px;

 }
 #about {
  padding: 80px 0 ;
  color: #ffff;

 }
 .row {
  display: flex;
  justify-content: space-between;
  flex: 1fr 2fr;
 }
 .about-col-1 {
  width: 35%;
  
 }
 .about-col-2 {

  width: 50%;

 }
 .sunnaran {
  object-position: bottom;
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
 }
 .about-me {
  font-size: 3rem;
  font-weight: 900;
  
 }
 .para {
  line-height: 1.3rem;
 }
 .titles{
  display: flex;
  margin: 2rem 0 2rem;
 }
 .section-main {
  display: block;
 }
 .links {
  margin-right: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
 }
 .links:hover{

  transform: scale(1.2);
  transition: .7s ease;
  
 }
 .links.active::after{
  width: 75%;
 }
 .skills-bar-container {
  height: 5px;
  width: 100%;
  background-color: #fff;
}

.skills-bars {
  height: 5px;
  text-align: right;
  color: white;
}

.html {width: 90%; background-color: #c62b2b;}
.css {width: 80%; background-color: #e31414;}
.js {width: 70%; background-color: #eb6363;}
.python {width: 75%; background-color: #e93131;}

.skills-section{
  display: grid;
  row-gap: 5px;
}
.section-ed,.section-prj {
  display: none;
}

.section-ed-aftr {
  display: block;
}
.section-prj-aftr {
  display: block;
}
.skills-section-aftr{
  display: none;

}
.contact {
  width: 60%;
  margin: 0 auto;
  border: 1px solid white;
  color: white;
  margin-bottom: 5.5rem;
}
.contact h1 {
  text-align: center;
}
.details-section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;


}
.input-field {
  
  display: flex;
  flex-direction: column;
  row-gap: .4rem;
  margin-top: .5rem;
  
  
}
.Name,.Phone,.email {
  width: 500px;
  height: 3rem;
  border-radius: .5rem;
  border: none;
  font-size: medium;
  outline: none;
  padding-left:.5rem;
}
.textarea{
  width: 85%;
  margin-top: 3rem;
  margin-left: 3rem;
  resize: none;
  font-size: medium;
  margin-bottom: 1.5rem;
}
.form-style {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  height: 5rem;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: center;
  color: #445161;
}

.insta-logo, .snap-logo, .fb-logo{
  height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 550;
  margin-right: .5rem;
  color: #445161;
  text-decoration: none;
}
.working {
  color: darkgrey;
  cursor: none;
}
.decoration-a {
  color: white;
  text-decoration: none;
}
.decoration-a h2{
  transition:1s ease;
}
.decoration-a h2:hover{
  transform: translateY(-2px);
  color: dodgerblue;

}
.footer-row a{
  text-decoration: none;

}
.social-logo{
  text-decoration: none;
}
.insta-logo:hover{
  transform: scale(1);
}
.btn-submit{
  width: 50%;
  margin: 0 8.5rem;
  height: 4rem;
  cursor: pointer;
  transition: .5s;
}
.btn-submit:hover{
  background-color: #445161;
  color: white;
  border: 1px solid;
}
nav .display-none {
  display: none;
}

